# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
/tasks-service
/dist/
/tasks-service/tasks-service

# Test binary
*.test

# Output of go coverage
*.out

# Dependency directories
vendor/

# Go workspace file
go.work
go.work.sum

# IDE
.idea/
.vscode/

# Environment
.env
.env.local
.env.*.local